.intro-container{
	background-color: #4898e5;
	color: #fefefe;
	text-align: right;
	padding: 35px;
	width: 800px;
	font-family: sans-serif;
}
.btn-intro{
	background-color: #4898e5;
	border: 0.5px solid #74b0ec;
	border-radius: 5px;
    color: white;
  	padding: 10px 25px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	
}
.dynamic-btn{
	
	margin-left: 70px;
}
.btn{
	background-color: white;
	border: 0.5px solid #cdc9c4;
	margin: 5px;
	color: #838383;
	height: 60px;
	width: 90px;
	font-size: 16px;
}

.nor{
	background-color: white;
	border: 0.5px solid #cdc9c4;
	margin: 5px;
	color: #838383;
	height: 60px;
	width: 90px;
	font-size: 16px;
}


 ::placeholder{
 	color: #c5dcf6
}
.text-area{
width: 800px;
height: 50px;
border-radius: 10px;
font-size: 25px;
padding-left: 15px;
color: #4898e5
}
p{
padding-left: 300px;
font-size: 35px;
color: #838383;
}
span{
	font-size: 25px;
    color: #838383;
}
.inner-container{
	
	width: 350px;
}
